
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>v_customerdeleted</title>
</head>
<body>
    <div align="center">
        <h1>
            Customer deleted Successfully
            <br />
            @Html.ActionLink("Back to search", "search", "Customer")
        </h1>

    </div>
</body>
</html>
