
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>v_Updated</title>
</head>
<body>
    <div align="center">
        <h1>
            Customer Details Updated Successfully
            <br />
            @Html.ActionLink("Go Back", "search", "Home")
        </h1>
    </div>
</body>
</html>
